$colors: (
  primary: (
    100: hsl(217, 45%, 48%),
    200: hsl(217, 60%, 40%),
    300: hsl(217, 45%, 40%),
  ),
  secondary: (
    100: hsl(324, 30%, 65%),
    200: hsl(69, 54%, 63%),
    300: hsl(69, 34%, 50%),
  ),
  grayscale: (
    0: hsl(0, 0%, 100%),
    100: hsl(0, 0%, 90%),
    200: hsl(0, 0%, 65%),
    300: hsl(0, 0%, 25%),
    400: hsl(0, 0%, 0%),
  ),
);
