/* poppins-300italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  src: local(""), url("assets/fonts/poppins-v19-latin-300italic.woff2") format("woff2"), url("assets/fonts/poppins-v19-latin-300italic.woff") format("woff");
}
/* poppins-300 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("assets/fonts/poppins-v19-latin-300.woff2") format("woff2"), url("assets/fonts/poppins-v19-latin-300.woff") format("woff");
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("assets/fonts/poppins-v19-latin-regular.woff2") format("woff2"), url("assets/fonts/poppins-v19-latin-regular.woff") format("woff");
}
/* poppins-italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("assets/fonts/poppins-v19-latin-italic.woff2") format("woff2"), url("assets/fonts/poppins-v19-latin-italic.woff") format("woff");
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("assets/fonts/poppins-v19-latin-500.woff2") format("woff2"), url("assets/fonts/poppins-v19-latin-500.woff") format("woff");
}
/* poppins-500italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  src: local(""), url("assets/fonts/poppins-v19-latin-500italic.woff2") format("woff2"), url("assets/fonts/poppins-v19-latin-500italic.woff") format("woff");
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("assets/fonts/poppins-v19-latin-600.woff2") format("woff2"), url("assets/fonts/poppins-v19-latin-600.woff") format("woff");
}
/* poppins-600italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  src: local(""), url("assets/fonts/poppins-v19-latin-600italic.woff2") format("woff2"), url("assets/fonts/poppins-v19-latin-600italic.woff") format("woff");
}
/* poppins-700italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("assets/fonts/poppins-v19-latin-700italic.woff2") format("woff2"), url("assets/fonts/poppins-v19-latin-700italic.woff") format("woff");
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("assets/fonts/poppins-v19-latin-700.woff2") format("woff2"), url("assets/fonts/poppins-v19-latin-700.woff") format("woff");
}
/* ======
   MIXINS
*/
:root {
  --clr-primary-100: #436eb1;
  --clr-primary-200: #2958a3;
  --clr-primary-300: #385b94;
  --clr-secondary-100: #c18bab;
  --clr-secondary-200: #c4d46e;
  --clr-secondary-300: #9eab54;
  --clr-grayscale-0: white;
  --clr-grayscale-100: #e6e6e6;
  --clr-grayscale-200: #a6a6a6;
  --clr-grayscale-300: #404040;
  --clr-grayscale-400: black;
  --ff-primary: Poppins;
  --ff-secondary: Arial;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --lh-100: 1.25em;
  --lh-200: 1.4em;
  --lh-300: 1.65em;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.563rem;
  --fs-600: 1.853rem;
  --fs-700: 2.1rem;
  --fs-800: 2.5rem;
}
@media (min-width: 65em) {
  :root {
    --lh-100: 1.087em;
    --lh-200: 1.5em;
    --lh-300: 1.8em;
  }
}
@media (min-width: 65em) {
  :root {
    --fs-300: 0.875rem;
    --fs-400: 1.125rem;
    --fs-500: 2rem;
    --fs-600: 2.827rem;
    --fs-700: 3.75rem;
    --fs-800: 4.25rem;
  }
}

/*  ===========================
    ===Andy Bell's CSS Reset===
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 6rem;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ==========
   TYPOGRAPHY
*/
body {
  font-family: "Poppins", sans-serif;
  font-family: var(--ff-primary);
}

nav a {
  color: #e6e6e6;
  text-decoration: none;
}
nav a:hover {
  color: #919191;
}
nav a.router-link-exact-active {
  font-weight: 700;
  font-weight: var(--fw-bold);
}

h1,
.h1 {
  font-size: 1.8rem;
  line-height: 35px;
  font-weight: bold;
}

h2,
.h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.875rem;
}

/* ===========
   MOVIE CARD
*/
.movie-card-container {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 1em;
  margin-top: 1em;
}
@media (min-width: 40em) {
  .movie-card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin-top: 2em;
  }
}
@media (min-width: 65em) {
  .movie-card-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-top: 2em;
  }
}

.movie-card {
  overflow: hidden;
  color: #e6e6e6;
  border-radius: 15px;
  position: relative;
}
.movie-card::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
}
.movie-card:hover {
  transform: translateY(-3px);
  transition: all 0.15s linear;
}

.card-img {
  height: 40em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-content {
  padding: 2em 1em;
  background-color: black;
  background: linear-gradient(black, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0));
}

.more-info {
  margin-top: 1em;
  color: white;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  padding: 0.2em 1.2em;
}
.more-info:hover, .more-info:focus {
  background-color: white;
  color: black;
}
.more-info:active {
  background-color: unset;
  color: unset;
}

#app {
  display: grid;
}

/* =============
   ====NAVBAR===
*/
nav {
  background-color: #2958a3;
}
nav .container {
  display: flex;
  gap: 2em;
  justify-content: center;
}

/* ====
   MAIN
*/
main {
  background-color: #e6e6e6;
  padding: 2em 0;
}

.flow > * + * {
  margin-top: 1em;
  margin-top: var(--flow-space, 1em);
}

.container {
  padding: 1em 0;
  margin: 0 auto;
  width: 90%;
}
@media (min-width: 40em) {
  .container {
    max-width: 900px;
  }
}
@media (min-width: 65em) {
  .container {
    max-width: 1300px;
  }
}

/*# sourceMappingURL=main.css.map */
