@use "../abstracts/" as *;

/* ==========
   TYPOGRAPHY
*/
body {
  @include ff(primary, sans-serif);
}

nav a {
  color: clr(grayscale, 100);
  text-decoration: none;
  &:hover {
    color: adj-lightness(clr(grayscale, 200), -8%);
  }
  &.router-link-exact-active {
    @include fw(bold);
  }
}

h1,
.h1 {
  font-size: 1.8rem;
  line-height: 35px;
  font-weight: bold; //40px
  // font-size: var(--fs-800);
}
h2,
.h2 {
  font-size: 1.2rem;
  font-weight: 600;
  // font-size: var(--fs-800);
}
p {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.875rem; //30px
}
