@use "../abstracts/" as *;

/* ===========
   MOVIE CARD
*/
.movie-card-container {
  display: grid;
  gap: 1em;
  margin-top: 1em;
  
  @include mq(small) {
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin-top: 2em;
  }
  @include mq(medium) {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-top: 2em;
  }
}

.movie-card {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  color: clr(grayscale, 100);
  border-radius: 15px;
  position: relative;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);

  //pseudo element utk shadow
  @include mq(small){
    width: 100%;
    &:hover {
      transform: translateY(-5px);
      transition: all 0.2s linear;
    }
  }
}
.card-img {
  min-height: 30em;
  padding: 0 0 1em 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  position: relative;

  @include mq(small) {
    height: 40em;
  }
}
.card-content {
  padding: 2em 1.5em;
  background-color: black;
  background: linear-gradient(
    hsl(0 0% 0% / 1),
    hsl(0 0% 0% / 0.3) 80%,
    hsl(0 0% 0% / 0)
  );
}
.more-info,
.add-watchlist,
.rm-watchlist {
  margin-top: 1em;
  width: fit-content;
  font-size: .9rem;
  color: white;
  border: 2px solid white;
  background-color: hsl(0 0% 0% / 0.7);
  border-radius: 0;
  padding: 0.2em 1.2em;
  text-decoration: none;
  display: inline-block;
  &:hover,
  &:focus {
    background-color: white;
    color: black;
  }
  &:active {
    background-color: unset;
    color: unset;
  }
}
.add-watchlist {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 1em 1em 0;
  :disabled {
    background-color: clr(grayscale, 200);
  }
}
