details {
  height: 100%;
}
.backdrop {
  // padding-top: 10em;
  border-radius: 15px;
  overflow: hidden;
  height: 35em;
  background-size: cover;
  background-position: bottom;
  color: white;
  
}
.detail-content {
  display: flex;
  flex-direction: column;
  padding: 3em 2em ;
  background: linear-gradient(
    hsl(0 0% 0% / 1),
    hsl(0 0% 0% / 0.5) 80%,
    hsl(0 0% 0% / 0)
  );
  justify-content: end;
  h1 {
    margin-bottom: 1em;
  }
  .overview {
    max-width: 45rem;
  }
}
ul,
li {
  margin: 0;
  padding: 0;
  display: inline;
}
li {
  list-style-type: none;
}
ul li + li {
  // margin-left: 1em;
  &::before {
    content: '|  ';
    width: 100%;
  }
}
.stats {
  margin-top: 1em;
}
